# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
build/
*.lof
# Optional: Ignore the final PDF if you only want to track source code
# *.pdf
*.mp4
video/
Machine_learning_for_food_acquisition/